@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jwgiqj');
  src:  url('fonts/icomoon.eot?jwgiqj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jwgiqj') format('truetype'),
    url('fonts/icomoon.woff?jwgiqj') format('woff'),
    url('fonts/icomoon.svg?jwgiqj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-server:before {
  content: "\e90b";
}
.icon-down:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-correct:before {
  content: "\e90c";
}
.icon-error:before {
  content: "\e90d";
}
.icon-setting:before {
  content: "\e90a";
}
.icon-folder:before {
  content: "\e908";
}
.icon-reload:before {
  content: "\e909";
}
.icon-add:before {
  content: "\e900";
}
.icon-more:before {
  content: "\e901";
}
.icon-Progress-read:before {
  content: "\e902";
}
.icon-contents:before {
  content: "\e903";
}
.icon-bookmark:before {
  content: "\e904";
}
.icon-bookmark-on:before {
  content: "\e905";
}
.icon-bookshelf:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-user:before {
  content: "\e971";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-brightness:before {
  content: "\e9d6";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-text-color:before {
  content: "\ea6d";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-upload:before {
  content: "\e907";
}
